@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #252c37
}



/* Custom keyframe animation for spinning */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Apply the custom spin animation to elements with 'animate-spin' class */
@layer components {
  .animate-spin {
    animation: spin 0.8s linear infinite;
  }
}

/* Additional styling for the SVG border */
.svgBorder {
  stroke-width: 5px;
}

/* Additional styling for the container if needed */
.gradientContainer {
  position: relative;
}


/* Hide scrollbar but allow scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
